/**
 * @file
 * Main stylesheet file.
 */

/* -------- Overrides Style -------- */
.header {
  /* position: absolute !important; */
  line-height: 20px !important;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header .fw a {
  color: #000000 !important;
}

.header ul {
  margin-bottom: 0;
}

/* -------- General Style -------- */
#content {
  /* background: #FEFEFE; */
  z-index: -10;
}

.mask-bg {
  background: #FEFEFE;
  z-index: 1;
}

.text-pad {
  padding-top: 2px;
  padding-bottom: 2px;
}

body {
  font-family: sans-serif;
}

/* -------- Footer Style -------- */

.footer-container {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #f7f7f7;
}

.contact-me-text {
  font-family: Oswald, sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 5px;
}

.contact-icons div {
  margin-top: 10px;

  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.contact-icons img {
  height: 20px;
}

.contact-info {
  margin-left: 15px;
  color: #000000 !important;
  line-height: 20px;
}