<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- Basic -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Kevin Koh">
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- Load Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700%7CMontserrat:400,700%7CEczar:400,500,600,700,800" rel="stylesheet">

  <!-- Styles -->
  {% block styles %}{% endblock %}
	
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Favicon -->
  <link rel="shortcut icon" href="/static/images/favicons/k_favicon.ico">
</head>

<body>

  <!-- Page -->
	<div class="page">

    {% block header %}{% endblock %}

    <!-- Begin page content -->
    <main id="content" role="main">

      {% block content %}{% endblock %}

    </main>

  </div>

  <div id="footer">
    {% block footer %}{% endblock %}
  </div>

  <!-- Main Scripts -->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.validate.js"></script>
  <script src="/static/js/main.js"></script>
  
  <!-- Scripts -->
  {% block scripts %}{% endblock %}

</body>

</html>