{% extends 'base.html' %}
{% block title %}Kevin Koh Resume{% endblock %}

{% block styles %}
<!-- styles -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="/static/css/base.css" />
<link type="text/css" rel="stylesheet" href="/static/css/resume.css" />
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="container resume-container">
  <div class="row">
    <div class="col name-header" style="text-align: center;">
      <h1>Kevin Koh</h1>
    </div>
  </div>

  <div class="row">
    <div class="col sub-name-header" style="text-align: center;">
      Software Engineer
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4 left-col">
      <div class="row">
        <div class="col resume-section-header">
          Contact
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col resume-contact">
          <div>
            <img src="/static/img/contact-icons/gmail.png">
            <span>kevin.koh.dev@gmail.com</span>
          </div>
          <div>
            <img src="/static/img/contact-icons/location.png">
            <span>Los Angeles, CA, USA</span>
          </div>
          <div>
            <img src="/static/img/contact-icons/website.png">
            <span>www.kevinkoh.dev</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col resume-section-header">
          Education
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col education-section">
          <p style="color: #000000;">University of California Berkeley</p>
          <p>B.A. Computer Science</p>
          <p>Berkeley, California | c/o 2015</p>
        </div>
      </div>
      <div class="row">
        <div class="col resume-section-header">
          Technical Strengths
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col tech-strengths">
          <ul>
            <li>Full Stack Web Applications</li>
            <li>Scalable Backend Systems</li>
            <li>System Design / Architecture</li>
            <li>MicroService Oriented Design</li>
            <li>Serverless Development</li>
            <li>Responsive Design / UIs</li>
            <li>CI/CD Pipelines</li>
            <li>Agile Development / Scrum Master</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col resume-section-header">
          Languages / Tech
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col tech-list">
          <div class="sub-header">Languages:</div>
          <ul>
            <li>Python</li>
            <li>JavaScript / TypeScript</li>
            <li>Java</li>
            <li>Ruby</li>
          </ul>
          <div class="sub-header">Frameworks:</div>
          <ul>
            <li>Django</li>
            <li>Flask</li>
            <li>AWS CDK / SAM</li>
            <li>Ruby on Rails</li>
            <li>Node (Koa, Express)</li>
            <li>React</li>
            <li>Angular</li>
          </ul>
          <div class="sub-header">AWS Technologies:</div>
          <ul>
            <li>Lambda</li>
            <li>EC2 / RDS</li>
            <li>DynamoDB</li>
            <li>ElasticSearch</li>
            <li>S3 / Athena</li>
            <li>ElasticCache (Redis)</li>
            <li>SQS / SNS</li>
            <li>Kinesis</li>
            <li>Elastic BeanStalk</li>
            <li>Cloud Development Kit (CDK)</li>
            <li>Serverless Application Model (SAM)</li>
            <li>CloudFormation</li>
            <li>CodeDeploy / Pipelines</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-sm-8 right-col">
      <div class="row">
        <div class="col resume-section-header">
          Work Experience
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col work-content">
          <div class="row">
            <div class="col work-header">
              Amazon Prime Video
            </div>
          </div>
          <div class="row">
            <div class="col work-under-header">
              Software&nbsp;Engineer&nbsp;L5 | Santa&nbsp;Monica,&nbsp;CA | Sept&nbsp;2018&nbsp;-&nbsp;January&nbsp;2020
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                Built out backend systems for the Prime Video Direct product,
                helping Studios and Content Creators upload their assets to the 
                Prime Video platform.
              </p>
              <p>
                Developed customer facing web UI, allowing users to track asset status.
                Additionally built the supporting APIs and data storage/search components.
              </p>
              <p>
                Developed email engine component of Prime Video Direct's notification service.
                Leveraging SQS and Kinesis sharding quirks, the system was able to operate under intense load and throttle at variable TPS targets.
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col work-content">
          <div class="row">
            <div class="col work-header">
              InfoScout
            </div>
          </div>
          <div class="row">
            <div class="col work-under-header">
              Software&nbsp;Engineer | San&nbsp;Francisco,&nbsp;CA | Nov&nbsp;2016&nbsp;-&nbsp;Aug&nbsp;2018
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                InfoScout (now acquired/merged into Numerator) was the premier omni-channel consumer analytics tool,
                dealing with millions of data points every day.
              </p>
              <p>
                Scaled up data attribution capabilities, through building out automated web scrapers and Data Analyst tools.
                Improved Data Analyst productivity markedly through building ElasticSearch integration; 15x search speed improvement.
              </p>
              <p>
                Became owner of Surveys platform, providing a significant revenue stream to the company.
                Built/designed mobile-facing APIs, mobile/webpage UI, and backend management system.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col work-content">
          <div class="row">
            <div class="col work-header">
              Electronic Arts (Data Division)
            </div>
          </div>
          <div class="row">
            <div class="col work-under-header">
              Software&nbsp;Engineer | Redwood&nbsp;City,&nbsp;CA | Feb&nbsp;2015&nbsp;-&nbsp;Oct&nbsp;2016
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                Developed EA's Game Analytics product, building reports and dashboards for company use.
              </p>
              <p>
                Coordinated with customers for data reporting needs, running review sessions and feedback loops.
              </p>
              <p>
                Built usage/performance tracking system for Game Analytics product, allowing insights on performance/impact. 
                Developed reusable UI integration tooling, backend pipeline, and reporting page.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col resume-section-header">
          Projects
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="work-header">Independent Consultant</div>
          <div class="work-under-header">Jan 2020 - Current</div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            Operated a self-owned consultant service, providing freelance consultant and development services.
          </p>
          <p>
            Developed Ruby on Rails backend for early stage startup involving video based mobile app.
            Took codebase from prototype to a production-ready backend. Also set up automated CI/CD pipelines and auto-scaling infrastructure.
          </p>
          <p>
            Provided software consulting and development services to a variety of ecommerce brands, improving their Shopify presence.
            Highlights include:
          </p>
          <ul>
            <li>
              Re-building Rael's Shopify website, improving responsive design, CMS features, and site look.
            </li>
            <li>
              Building a new homepage and website performance consultation for MiaDonna Diamonds.
            </li>
            <li>
              Improving functionality and interactiveness on Disco Skincare's Shopify site.
            </li>
            <li>
              Performing adhoc tech consulting for Levitate Digital Foundry, ranging from website implementation to dev team hiring.
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="work-header">Web Development Course Creator and Instructor</div>
          <div class="work-under-header">Apr 2020 - Current</div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            Developed an 8 week course curriculum, teaching students the fundamentals of web application development.
            Students were able to finish the course with a personal website with chat functionality.
          </p>
          <p>
            Partnered with Elite Educational Institute to provide course to students as an after-school program.
          </p>
          <p>
            Taught students the basics of MVC pattern and development practices through 1 hour weekly lectures.
          </p>
          <p>
            Lectures were followed up with 1 hour labs, giving students hands-on experience, culminating in a publicly available website with chat features.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}