{% extends 'base.html' %}
{% block title %}Kevin Koh Resume{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col" style="text-align: center;">
    <h1>Kevin Koh</h1>
  </div>
</div>
<div class="row">
  <div class="col" style="text-align: center;">
    Software Engineer
  </div>
</div>
<div class="row">
  <div class="col-3">
    1242 1/2 W Pine St
  </div>
  <div class="col-3">
    Santa Ana, CA, 92703
  </div>
  <div class="col-3">
    (925) 330-0556
  </div>
  <div class="col-3">
    kevin.koh.dev@gmail.com
  </div>
</div>

{% endblock %}